.png-time.form-control {
  padding-left: 10px;
}

.png-time input {
  border: none;
  width: 17px;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: default;
}

.png-time input:focus {
  color: #000;
}

.png-time input.mode {
  width: 22px;
  margin-left: 3px;
}

